nav ul {
 padding: 0;
}

nav li {
 list-style: none;
 margin-left: 20px;
}

nav li a {
 text-decoration: none;
 color:white;
 display: block;
 padding: 0.6rem 0.3rem;
 font-weight: 400;
 transition: all ease-out 250ms;
 font-size: 18px;
}

nav li a:hover {
 color: #76eafdf5;
 text-decoration: underline;
}

section {
 // border-top: 1px solid white;
}

.main-content {
 // margin-top: 100px;
}


h1 {
 color: #444;
 font-weight: 600;
}

.active {
 color: #76eafdf5; 
 font-weight: 600;
 text-decoration: underline;
}

ul {
 display: flex;
 margin-left: 1600px;
 margin-top: 20px;
}

.menu-bar {
 position: fixed;
 width: 100%;
 z-index: 999;
 background-color: black;
 border-bottom: 1px solid #1d1a1afc;
	box-shadow: 0px 0px 13px -8px #17a2b8;
}